/* *
{
    margin: 0%;
    box-sizing: border-box;
} */

.container {
    min-height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url(../images/footer_lodyas.png);
}
header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 12;
}

.nav-link {
    color: #777777;
    margin-top: 10px;
}
  
#logo {
    background: white;
    border-bottom: 3px solid#4aaaa5;
    font-size: 50px;
    color: #777777;
    margin-left: 180px;
    float: left;
    padding-bottom: 10px;
}
h2 {
    text-align: center;
    border-bottom: 3px solid lightgrey;
    padding-bottom: 10px;
    background: white;
    color: #4aaaa5;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;

}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.main-form {
    width: 960px;
    background: #ffffff;
    color: gray;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    overflow: auto;
 

}
.aboutMe {
    width: 960px;
    background: #ffffff;
    color: gray;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: auto;
    height: 480px;

}
.btn-submit {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.card-body {

    position: relative;
    margin-top: 8%;
    margin-bottom: 10%;
}
iframe {
    width: 100%;
    height: 350px;
}

.footer {

    /* bottom: 0%; */
    padding-top: 15px;
    background-color: rgb(102, 102, 102);
    font-size: 14px;
    text-align: center;
    height: 80px;
    color: white;
    border-top: 12px solid #4aaaa5;
    width: 100%;
    /* position: fixed; */
    margin-bottom: -80px;
   
}
@media screen and (max-width: 640px) {

    header {
      position: static;
    }  
  
    }
    .nav-link {
        color: #777777;
        margin-right: 0%;
        float: right;
    }
 
    #logo {
      margin-left: 0%;
      padding: 0%;
      font-size: 30px;
      border-bottom: 3px solid#4aaaa5;
    } 
.main-form {
    width: auto;
    background: #ffffff;
    color: gray;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    overflow: auto;
}
.aboutMe {
    width: auto;
    background: #ffffff;
    color: gray;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: auto;
    height: 480px;

}
Nav {
    float: right;
}
  @media screen and (max-width: 768px) {
  
    
    .nav-link {
        color: #777777;
        margin-right: 0%;
        float: right;
    }
 
    #logo {
      margin-left: 0%;
      padding: 0%;
      font-size: 30px;
      border-bottom: 3px solid#4aaaa5;
    } 
.main-form {
    width: auto;
    background: #ffffff;
    color: gray;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    overflow: auto;
}
.aboutMe {
    width: auto;
    background: #ffffff;
    color: gray;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: auto;
    height: 480px;

}
Nav {
    float: right;
}
@media screen and (max-width: 980px) {
  
    
    .nav-link {
        color: #777777;
        margin-right: 0%;
        float: right;
    }
 
    #logo {
      margin-left: 0%;
      padding: 0%;
      font-size: 30px;
      border-bottom: 3px solid#4aaaa5;
    } 
.main-form {
    width: auto;
    background: #ffffff;
    color: gray;
    padding: 10px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    overflow: auto;
}
.aboutMe {
    width: auto;
    background: #ffffff;
    color: gray;
    padding: 30px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    overflow: auto;
    height: 480px;

}
Nav {
    float: right;
}